{
  "default": "60100824",
  "60100824": {
    "gateway": "http://81.71.103.77:9628",
    "label": "demo-A",
    "enabled": true
  },
  "60100825": {
    "gateway": "http://81.71.103.77:9629",
    "label": "demo-B",
    "enabled": true
  }
}
